.signup-page-container {
    background-color: #C7F3D3;
    height: calc(100vh - 60px);

    .signup-form {
        margin: auto;
        width: 70%;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
    }
}