.card-container {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .card-image {
        height: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 7px 0 0 7px;
    }

    .card-header,
    .card-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}