.homepage-header {
    padding-top: 30px;
    background-color: #fbf8f8;

    .search-container {
        width: 70%;
        margin: auto;
    }
    
    .marquee {
        width: 90%;
        margin: auto;
    }
}

.homepage-content {
    padding-top: 10px;
}

.homepage-about {
    background-color: #fbf8f8;
}