.popular {
    width: 75%;
    margin: auto;
    padding-bottom: 30px;

    .popular-card {
        height: 300px;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        margin-right: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: transform .5s;

        /* .backdrop {
            background-color: rgba(255, 255, 255, 0.3);
        } */

        h5,
        h4 {
            padding: 5px;
            background-color: #fff;
            border-radius: 10px;
            color: #298ce2;
            margin: 5px !important;
        }

    }

    .popular-card:hover {
        background-size: 800px;
    }
}